# Unreal build outputs
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Plugins/**/Binaries/
Plugins/**/Intermediate/
Plugins/**/Saved/
Plugins/**/DerivedDataCache/

# Generated Unreal project files
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig

# Visual Studio / Rider / IDE files
.vs/
.vscode/
.idea/
*.user
*.userosscache

# Compiled object files
*.slo
*.lo
*.o
*.obj
*.gch
*.pch

# Build and debug artifacts
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.ilk
*.exp
*.pdb
*.log

# Builds
Build/
!Build/
Build/**
!Build/**/
!Build/**/*.ico
!Build/**/PakBlacklist*.txt

# Source art and generated map data
SourceArt/**/*.png
SourceArt/**/*.tga
*_BuiltData.uasset

# OS files
Thumbs.db
.DS_Store
